.image-block{
    position: relative;
    margin: 20px;
    border: 2px hidden black;

}
.image-bar{
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}



.image-bar:hover{
    background-color: white;
    color: #4aaaa5;
}

