
.image-bar{
    position: relative;
    bottom: 75px;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.image-block{
    margin: 20px;
    height: 200px;
    border: 2px hidden black;
    display: block;
}

.portfolio{
    width: 100%;
    height: auto;
    clear: both;
    overflow: auto;
    /* display: inline;
    vertical-align: top; */

}





.image-bar:hover{
    background-color: white;
    color: #4aaaa5;
}



