*{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18pt; 
    margin: 0;
    padding: 0;
    border: 0;
}
 body{
     background-color: green;
     background-image: url("../images/memphis-mini.png")
 }




.clearfix{
    content: " ";
    clear: both;
    display: none;
    overflow: auto;
}

h1{s
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24pt;
}
h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24pt;
    border-bottom: 2px #cccccc solid;
    padding-bottom: 20px;
}

p{
    color: #777777;
}
    

nav{
    height: 72px;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0px;
    border: 0px;
    border-bottom: 2px #cccccc solid;
}

section{
    width: 956px;
    /* does border need to be deducted from 960? */
    background-color: #ffffff;
    position: absolute;
    left: 200px;
    border: 2px #dddddd solid;
    margin-top: 30px;
}

.yourname{
    /* can div be nesed in <header> */
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 200px;
    position: absolute;
    left: 200px;
    padding: 20px;
}
/* formatting links */
a {
    text-decoration: none;
    color: #777777;
}
.links{
    font-size: 20pt;
    float: right;
    padding: 20px;
}


a:hover, a:focus{
    border: 0px;
    color:#4aaaa5;
}


.links li{
    display: inline;
    color: #;
}

.content-title{
    color: #4aaaa5;
    padding: 20px;
    margin-bottom: 20;
}

footer{
    height: 10%;
    width: 100%;
    background-color: #666666;
    position: fixed;
    bottom: 0px; 
    border-top: 6px solid #4aaaa5;
    
}

h5{
    color: white;
    font-family: 'Arial', 'Helvetica Neue', sans-serif;
    position: absolute;
    bottom: 0px;
    left: 665px;
    margin-bottom: 10px;
}